    /* max-height - the only parameter in this file that needs to be edited.
 * Change it to suit your needs. The rest is recommended to leave as is.
 */



    @media only screen and (max-width: 600px) {
        .clusterize-scroll {
            background-color: lightblue;
            margin-left: 0;
            height: 100%;
            width: 100%;
        }
    }
    /**
 * Avoid vertical margins for extra tags
 * Necessary for correct calculations when rows have nonzero vertical margins
 */

    .clusterize-extra-row {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    /* By default extra tag .clusterize-keep-parity added to keep parity of rows.
 * Useful when used :nth-child(even/odd)
 */

    .clusterize-extra-row.clusterize-keep-parity {
        display: none;
    }
    /* During initialization clusterize adds tabindex to force the browser to keep focus
 * on the scrolling list, see issue #11
 * Outline removes default browser's borders for focused elements.
 */

    .clusterize-content {
        outline: 0;
        counter-reset: clusterize-counter;
    }
    /* Centering message that appears when no data provided
 */

    .clusterize-no-data td {
        text-align: center;
    }


    .clusterize-scroll p {

        line-height: 20px;
    }




    .clusterize-scroll {
        height: 90%;
        overflow: auto;
        background-color: antiquewhite;
    }

.fanyi, .clusterize-scroll{
        width: 40%;
        padding-left: 30px;
        margin-left: 20%;


}
    .fanyi {
        font-size: 18px;
        border: 2px dotted;
        z-index: 99999;
        color: #EEE;
        background-color:rgba(50, 50, 50, .6);
        min-height: 75px;
        height: auto;
        border-top-width: 1px;
        padding-bottom: 10px;
        /*! opacity: 90; */
    }