*.pydevproject
.project
.metadata
bin/
tmp/
test*
index*
old*
resources/*
toclasify.txt
old/*
*/node_modules/*
js/bundle*
src/server/node_modules/*
src/server/data/*pdf
src/server/data/*png
src/server/data/*jpg
src/server/data/ocr/*
src/js/node_modules/*