
    #scrollArea {

        padding-left: 1%;
        width: 97%;
        padding: 1%;
        max-height: 100vh;
        overflow: auto;
        position: unset;
    }


    .clusterize-extra-row {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .clusterize-extra-row.clusterize-keep-parity {
        display: none;
    }

    .clusterize-content {
        outline: 0;
        counter-reset: clusterize-counter;
        padding-top: 0%;
    }
    .clusterize-no-data td {
        text-align: center;
    }

    .clusterize-scroll {
        overflow: auto;
        background-color: antiquewhite;
    }

    .buttonpanel {

        font-size: 12px;
        background-color: lightyellow;
        padding: 5px;
    }

    .audiofanyi {
        /*     position:fixed */
    }

    .fanyi {
        /*! border: 2px dotted; */
        z-index: 999999;
        color: #FFF;
        background-color: rgb(160, 109, 168);
        /*! border-width: 0px ; */
        padding-left: 1%;
        overflow: auto;
        width: 100%;
        float: left;
        font-size: medium;
        padding-bottom: 31px;
    }

    .col1 {
        width: 170px;
        height: auto;
        float: left;
   
    }

    .col3 {
        margin-left: 54%;
        float: left;
        position: absolute;
        top: 10px;
    }

    #showArea {
        top: 10;
    }

    .savetofile {
        color: darkblue;
        z-index: 10;
    }


    @media only screen and (max-width: 600px) {
        .col2 {
            background-color: lightblue;
            margin-left: 0;
            height: 100%;
            width: 100%;
        }


        .fanyi {
            height: auto;
            position: fixed;
            top: 0px;
            min-height: 80px;
        }
        .buttonpanel{

            display: none;
        }
             
.buttonpanel {
    
 display:none ;
    
}
    
          .col1 {
        width: 100%;
        height: 37%;
        float: left;
        z-index: 200;
        position: fixed;
        background-color: #9e9eb1;
        width: 100%;
        display: none;
    }

  .test,
    .first_editor {

        resize: both;
        /*! overflow: auto; */
        word-wrap: break-word;
        float: left;
        /*! width: 100%; */
        /*! position:fixed; */
        min-height: 200px;

    }

        
    }

    @media only screen and (min-width: 600px) and (max-width: 900px) {
        .col2 {
            width: 70%;
            padding-left: 30px;
            margin-left: 10%;
        }
    }

    @media only screen and (min-width: 900px) {

        .col2 {
            width: 42%;
            padding-left: 30px;
            margin-left: 10%;
        }

        .fanyi {
            height: 20%;
            /*! max-height: 140px; */
            position: fixed;
            width: 40%;
            display: none;
        }
    .test,
    .first_editor {

        resize: both;
        /*! overflow: auto; */
        word-wrap: break-word;
        float: left;
        width: 99%;
    }
    }




    .savetofile {
        z-index: 10;
    }


    #textinfo {

        color: blue;

        font-size: 2.5em;
        position: fixed;
    }

    #hash {

        position: relative;
    }

#video {

    position: relative;
    float:left;
    display:none;

    padding-top: 25px;
}


.pdfobject-container { height: 500px;}
.pdfobject { border: 1px solid #666; }
